@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-image: url(./Requirements-and-Resources/Media/background.jpg);
    background-size: 175%;
    background-position: top;
    font-family: Gelasio;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 50px;
    background-color: rgb(228, 228, 228);
    padding: 15px 30px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: 0 20px;
    padding: 0;
    list-style: none;
}

nav li {
    flex: 1;
    margin-right: 10px;
}

nav ul a {
    font-size: 18px;
    text-decoration: none;
    color:#333;
    font-weight: 200;
}

.logo {
    font-size: 32px;
    color:#333;
}

.right-nav-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    min-width: 8vw;
}

.search-field {
    display: inline-flex;

    background: rgba(255,255,255,.80);
    margin: 20px 20px 40px 20px;
    height: 30px;
    width: 280px;
    align-items: center;
    padding: 5px;
}

.search-field input {
    flex: 1;
    background: transparent;
    border: 0;

    text-indent: 5px;
    font-size: 20px;
    color:  #777;
    font-family: Arial, Helvetica, sans-serif;
}

.search-field button {
    border: 0;
    background-color:transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    order: -1;
}

.search-field .fa-search {
    color:  #777;
}

.right-nav-section .search i {
    font-size: 12px;
    color:#333;

    cursor: pointer;
}

.right-nav-section button {
    padding: 5px 10px 6px 10px;
    color: white;
    background: rgb(113, 106, 106);
    border: 0;
    border-radius: 2px;

    cursor: pointer;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 40vh;
    background-image: url(./Requirements-and-Resources/Media/craving.jpg);
    background-size: 100%;
}

.hero h1 {
    color: white;
}


.first,
.second {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;

    border: 0;
    overflow: hidden;
    width: 70vw;
    height: 60vh;
    margin: 50px auto 20px auto;

    background-color: rgb(228, 228, 228);
}

.first .trim {
    display: flex;
    justify-content: start;
    width: 64%;
    overflow: hidden;
}

.second .trim {
    display: flex;
    justify-content: end;
    width: 64%;
    overflow: hidden;
}

.second .info {
    order: -1;
}

.trim img {
    max-height: 60vh;
}

.info h2, h4 {
    display: flex;
    align-self: center;
    color:#333;
}

.info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #999;
    width: 34%;
    margin: 3% 1%;
}

.info button {
    align-self: center;
    padding: 5px 8px 6px 8px;
    margin: 20px;
    color: white;
    background: rgb(113, 106, 106);
    border: 0;
    border-radius: 2px;
    width: 80px;
    font-size: 12px;
}

.carousel {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    margin: 0 auto;
    width: 830px;
}

.carousel .button-top {
    text-align: center;
    padding: 5px 20px;

    background-color: #ffffff95;
    max-width: 150px;
}

.carousel .button-bottom {
    text-align: center;

    width: 200px;
    height: 25px;
    padding: 6px 20px;
    margin: 30px;

    background-color: tomato;
    color: white;
    font-size: 12px;
}

.carousel ul {
    display: flex;
    flex-flow: row wrap;

    list-style: none;
    text-decoration: none;
}

.carousel ul li {
    display: flex;
    flex-flow: column;
    align-items: center;

    max-width: 150px;
    max-height: 180px;
    color: #333;
    background-color: #ffffff99;
    padding: 0;
    margin: 10px 20px;
}

.carousel ul li img {
    max-width: 100%;
}

.carousel ul li p {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    background-color: #ffffff99;
}


footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;

    min-height: 90px;
    padding: 10px 30px;
    background-color: #ffffff95;
    color: #333;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-decoration: none;
}

footer ul li {
    border-right: 1px solid #555;
    padding: 0 10px;
}

@media only screen and (max-width: 1024px) {
    .carousel {
        max-width: 600px;
    }

    .carousel ul {
        justify-content: space-between;
    }

    .carousel ul li {
        max-width: 250px;
        max-height: 300px;

        margin: 10px 10px;
    }
}

@media only screen and (max-width: 850px) {

    footer {
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: start;
        padding-top: 20px;
    }

    footer ul {
        margin: 15px 0;
        text-align: center;
    }

    footer ul:nth-child(3) {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .carousel {
        max-width: 90vw;
    }
}