.site-nav {
    
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.site-nav li {
    display: flex;
    list-style: none outside;
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    color: #808080;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.site-nav li.current-page a {
    color: #3498db;
}

.site-nav a:hover {
    color: #3498db;
}