body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.notification {
  font-size: 1.5em;
  float: right;
  color: #ffffff;
  padding:  0.5em 2em 0.5em 2em;
  margin: 1em;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 3px;
}

#infoBox {
  background: #393;
}

#errorBox {
  background: #F50;
}

.jumbotron {
  background: rgb(3,167,151);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

h1 {
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h6 {
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

