<footer style="position: fixed;bottom: 0;text-align: center;height: 4em;background: rgb(3,167,151);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);width: 100%;">Team Manager SPA &copy; 
    <span id="copyright">
        <script>document.getElementById('copyright')
                .appendChild(document
                            .createTextNode(new Date().getFullYear()));
        </script>
    </span>
</footer>