<footer>Team Manager SPA &copy; 
    <span id="copyright">
        <script>document.getElementById('copyright')
                .appendChild(document
                            .createTextNode(new Date().getFullYear()));
        </script>
    </span>
</footer>