<!-- Header -->
    <header>
        {{#if username}}
            <h1><a class="home" href="#/home">SoftWiki</a></h1>
            <nav class="nav-buttons">
                <a href="#/create">Create</a>
                <a href="#/logout">Logout</a>
                <a href="#/register">Register</a>
            </nav>
        {{else}}
            <h1><a class="home" href="#/login">SoftWiki</a></h1>
            <nav class="nav-buttons">
                <a href="#/register">Register</a>
            </nav>
        {{/if}}
    </header>