main {
    max-width: 1200px;
    margin: 30px auto;
}

section {
    position: relative;
    background-color: rgb(16, 16, 60);
    padding: 20px;
    border-radius: 10px;
    color: #ffffff95;
    font-size: 24px;
    z-index: 1;
}


.picture {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 400px;
    z-index: 2;
}

p {
    position: relative;
    z-index: 3;
}

.box {
    position: absolute;
    height: 210px;
    width: 180px;
    background-color: slategrey;
    border-radius: 10px;
    z-index: 0;
    top: 520px;
    left: 135px;
}

.circle-out {
    position: absolute;
    background-color: #00000050;
    border: 50px solid #ffffff50;
    border-radius: 50%;

    height: 200px;
    width: 200px;

    left: 76px;
}