    {{>header}}
            <div class="about-us">
                <div>
                    <img src="./public/shoes.jpg" alt="">
                    <img src="./public/shoes2.jpg" alt="">
                </div>
                <p>
                    <a href="#/register">Register Now</a> and Try it!
                </p>
            </div>
    {{>footer}}