@model Spice.Models.ViewModels.IndexViewModel
@{
    var list = Model.Coupons.Where(x => x.IsActive == true).ToList();
}

<br />

@if (list.Count() > 0)
{
    <div class="border pb-5">
        <div class="carousel" data-ride="carousel" data-interval="3000">
            @for (int i = 0; i < Model.Coupons.Count(); i++)
            {
                if (i == 0)
                {
                var base64 = Convert.ToBase64String(list[i].Picture);
                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <div class="carousel-item active">
                        <img src="@imgSrc" height="50px" class="d-block w-100" />
                    </div>

                }
                else
                {
                    var base64 = Convert.ToBase64String(list[i].Picture);
                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <div class="carousel-item">
                        <img src="@imgSrc" height="50px" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>
}

<br />
<br />

<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1">Show All</li>
        @foreach (var item in Model.Categories)
        {
            <li class="filter ml-1 mr-1">@item.Name</li>
        }
    </ul>

    @foreach (var category in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="@Model.MenuItems.Where(x => x.Category.Name.Equals(category.Name))" />
        </div>
    }
</div>